<section class="text-gray-500 body-font bg-gray-900 w-1/2 text-sm">
    <div class="p-4">
        <p class="text-white mb-2 font-bold"><img src="../../assets/Icons/observations.png"  class="w-5 h-5 float-left mr-2"> MY OBSERVATIONS</p>

        <div class="table-header p-6 rounded-lg">

            <!-- header -->
            <div class="header flex pl-2 mb-2 text-white">
                <div class="header-element flex-1">Date</div>
                <div class="header-element flex-1">Object Name</div>
                <div class="header-element flex-none pr-2">Type</div>
            </div>


            <!-- data row -->
            <div class="row-dark  pl-2 pt-2 pb-2 rounded">
                <div class="element flex">
                    <div class="flex-1 text-white">23/08/2020</div>
                    <div class="flex-1 text-blue-500">M31</div>
                    <div class="flex-none text-white pr-2"><img src="../../assets/Icons/generic_planet.png"  class="w-5 h-5 float-left mr-2"></div>
                </div>
            </div>

            <!-- data row -->
            <div class="row-light  pl-2 pt-2 pb-2 rounded">
                <div class="element flex">
                    <div class="flex-1 text-white">23/08/2020</div>
                    <div class="flex-1 text-blue-500">M31</div>
                    <div class="flex-none text-white pr-2"><img src="../../assets/Icons/generic_planetarynebula.png"  class="w-5 h-5 float-left mr-2"></div>
                </div>
            </div>

            <!-- data row -->
            <div class="row-dark  pl-2 pt-2 pb-2 rounded">
                <div class="element flex">
                    <div class="flex-1 text-white">23/08/2020</div>
                    <div class="flex-1 text-blue-500">M31</div>
                    <div class="flex-none text-white pr-2"><img src="../../assets/Icons/generic_galaxy.png"  class="w-5 h-5 float-left mr-2"></div>
                </div>
            </div>

            <!-- data row -->
            <div class="row-light pl-2 pt-2 pb-2 rounded">
                <div class="element flex">
                    <div class="flex-1 text-white">23/08/2020</div>
                    <div class="flex-1 text-blue-500">M31</div>
                    <div class="flex-none text-white pr-2"><img src="../../assets/Icons/generic_planet.png"  class="w-5 h-5 float-left mr-2"></div>
                </div>
            </div>

            <div class="row-dark  pl-2 pt-2 pb-2 rounded">
                <div class="element flex">
                    <div class="flex-1 text-white">23/08/2020</div>
                    <div class="flex-1 text-blue-500">M31</div>
                    <div class="flex-none text-white pr-2"><img src="../../assets/Icons/generic_planet.png"  class="w-5 h-5 float-left mr-2"></div>
                </div>
            </div>

            <!-- footer row -->
            <div class="text-xs text-blue-500 float-right" ><a href="">See more ...</a></div>
    
        </div>
            
      </div>
  </section>