.test
{
    border : 1px solid red;
}

.header-size
{
    height: 50px;
}

.divide
{
    border-bottom-color: #506875;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.header-custom-position
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.header-complete 
{
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 100%;
  }