    <div class="container">

    
    <div class="inline-block">
        <img src="{{ iconUrl }}" class=" ml-5 w-8 h-8 float-left mr-2" >
        <div  class="inline-block h-8  sm:text-3xl text-2xl  pt-1 float-left ml-2 mr-2">
            {{selectedItem.name}} 
            <button class="text-white bg-blue-600 border-0 py-1 px-1 ml-2 focus:outline-none hover:bg-blue-900 rounded text-sm" (click)="onReturn()">
                <img src="../../../../assets/Icons/general-icons/back.png"  class="w-4 h-4">
            </button>
            <br>
            <div class="block text-sm text-teal-500 pt-1 sm:inline-block">- {{type}} -</div>
        </div>
        <br>
    </div>

    <section class="text-gray-500 body-font bg-gray-900">
        <div class="container pl-2 pr-6 py-12 mx-auto">
          <div class="flex flex-wrap -m-4">

                <!-- ************************** -->
                <!--          name              -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('name')" *ngIf="editingField !== 'name'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'name'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">N</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Name</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'name'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.name }}</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'name'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.name" value={{selectedItem.name}} type="text" class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- DETAILS TELESCOPE                                                      -->
                <!-- ********************************************************************** -->

                <!-- ************************** -->
                <!--          APERTURE          -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('aperture')" *ngIf="editingField !== 'aperture'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'aperture'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">D</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Diameter</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'aperture'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.aperture }} mm</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'aperture'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.aperture" value={{selectedItem.aperture}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>


                <!-- ************************** -->
                <!--          FOCAL          -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('focal')" *ngIf="editingField !== 'focal'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'focal'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">F</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Focal</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'focal'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.focal }} mm</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'focal'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.focal" value={{selectedItem.focal}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>



                <!-- ************************** -->
                <!--          F/D RATIO         -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('fdratio')" *ngIf="editingField !== 'fdratio'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'fdratio'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">R</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">F/D Ratio</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'fdratio'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.fdratio }}</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'fdratio'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.fdratio" value={{selectedItem.fdratio}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" step="0.1" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>


                <!-- ********************************************************************** -->
                <!-- EYEPIECE DETAILS                                                       -->
                <!-- ********************************************************************** -->
                <!-- ************************** -->
                <!--          FOCAL             -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='eyepiece'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('focal')" *ngIf="editingField !== 'focal'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'focal'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">F</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Focal</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'focal'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.focal }} mm</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'focal'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.focal" value={{selectedItem.focal}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- ************************** -->
                <!--          afov               -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='eyepiece'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('afov')" *ngIf="editingField !== 'afov'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'afov'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">AFOV</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'afov'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.afov }} °</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'afov'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.afov" value={{selectedItem.afov}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- BINOCULARS DETAILS                                                     -->
                <!-- ********************************************************************** -->
                <!-- ************************** -->
                <!--          aperture        -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('aperture')" *ngIf="editingField !== 'aperture'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'aperture'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Aperture</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'aperture'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.aperture }} mm</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'aperture'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.aperture" value={{selectedItem.aperture}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- ************************** -->
                <!--          magnification        -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('magnification')" *ngIf="editingField !== 'magnification'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'magnification'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">M</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Magnification</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'magnification'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.magnification }} x</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'magnification'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.magnification" value={{selectedItem.magnification}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

               <!-- ************************** -->
                <!--          afov               -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('afov')" *ngIf="editingField !== 'afov'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'afov'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">AFOV</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'afov'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.afov }} °</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'afov'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.afov" value={{selectedItem.afov}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="number" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- COMMON DETAILS                                                         -->
                <!-- ********************************************************************** -->

                <!-- ************************** -->
                <!--          manufacturer        -->
                <!-- ************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('manufacturer')" *ngIf="editingField !== 'manufacturer'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'manufacturer'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">M</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Maker</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- edition -->
                        <div  *ngIf="editingField !== 'manufacturer'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.manufacturer }}</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'manufacturer'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-3/4">
                                <input [(ngModel)]="selectedItem.manufacturer" value={{selectedItem.manufacturer}} class="w-full h-8 px-4 py-2 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 " type="text" autofocus>
                            </span>
                            <span class="inline-flex w-1/4  justify-center ">
                                <button class="px-2 text-white border-0 focus:outline-none hover:bg-gray-800 rounded" (click)="saveField()">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </span>
                        </div>

                    </div>
                </div>



                <!-- ************************** -->
                <!--          description        -->
                <!-- ************************** -->
                <div class="w-full  sm:p-4 p-2">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">    

                            <!-- button start editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="editField('description')" *ngIf="editingField !== 'description'">
                                <img src="../../../../assets/Icons/general-icons/edit_green.png" class="w-3 h-3">
                            </button>

                            <!-- button cancel editing-->
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="cancelEditing()" *ngIf="editingField === 'description'">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png" class="w-3 h-3">
                            </button>

                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">D</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Description</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>


                        <!-- affichage description -->
                        <div  *ngIf="editingField !== 'description'" class="flex sm:text-base text-xs">
                            <span class="inline-flex w-full">
                                <span class="h-8">{{ selectedItem.description }}</span>
                            </span>
                        </div>

                        <!-- edition -->
                        <div  *ngIf="editingField === 'description'" class=" sm:text-base text-xs">

                            <!-- bouton validation -->
                            <div class="inline-block w-full ">
                                <!-- button cancel editing-->
                                <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm float-right" (click)="saveField()" *ngIf="editingField === 'description'">
                                    <img src="../../../../assets/Icons/general-icons/check.png" class="w-3 h-3">
                                </button>
                            </div>

                            <!-- textarea edit-->
                            <div class=" w-full">
                                <textarea name="description" [(ngModel)]="selectedItem.description" class="w-full bg-gray-900 rounded border border-gray-700 text-white focus:outline-none h-24 focus:border-indigo-500 text-xs px-4 py-2 resize-none block" autofocus></textarea>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- IMAGES                                                                 -->
                <!-- ********************************************************************** -->
                <div class="w-full  sm:p-4 p-2" >
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <!-- loader spinner -->
                            <button class="inline ml-4 text-white  border-0 py-1 px-1 focus:outline-none rounded text-sm" *ngIf="isAddingImage">
                                <mat-spinner diameter="15" class="ml-3 mt-1" mode="determinate" [value]="uploadProgress" color="accent"></mat-spinner>            
                            </button>

                            <!-- ajouter une image -->
                            <button class="ml-4 text-white  border-0 py-1 px-1 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <input ngModel #hiddenfileinput name="image" style="display: none;" type="file" (change)="chooseFile($event.target.files)" accept="image/x-png,image/gif,image/jpeg,image/ico">
                                <img src="../../../../assets/Icons/general-icons/add-picture.png" (click)="hiddenfileinput.click()"  class="w-3 h-3">
                            </button>

                            <!-- supprimer toutes les images-->
                            <button class="ml-4 text-white  border-0 py-1 px-1 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="deleteAllImages()" *ngIf="!noImage">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png"  class="w-3 h-3">
                            </button>

                        </div>

                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">I</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Images [ {{numberImages}} ]</h2>
                        <div class="border-t border-gray-800 w-full h-1 mb-3">&nbsp;</div>
                        <!-- slider image-->
                        <ng-image-slider [images]="imageObject" [showArrow]="false" [slideImage]="2" [animationSpeed]= "0.3" [imagePopup]="false" [imageSize]="{width: '100px', height: '80px'}" *ngIf="noImage" #nav></ng-image-slider>
                        <ng-image-slider [images]="imageObject" [showArrow]="false" [slideImage]="2" [animationSpeed]= "0.3" [imageSize]="{width: '100px', height: '80px'}" *ngIf="!noImage" (lightboxClose)='deleteImage()' (imageClick)='getIndex($event)' (lightboxArrowClick)='disableDeleteImage()' #nav></ng-image-slider>
        
                        <!-- bouton de navigation -->
                        <div class="flex content-center flex-wrap mt-3 h-6">
                            <div class="w-1/2  pr-8">
                                <button class="ml-4 float-right text-white border-0 py-1 px-1 focus:outline-none opacity-50 hover:opacity-100 rounded text-sm" (click)="prevImageClick()">
                                    <img class="w-6 h-6 " src="../../../../assets/Icons/general-icons/prev.png" >
                                </button>
                            </div>
                            <div class="w-1/2  pl-8">
                                <button class="ml-4 float-left text-white border-0 py-1 px-1 focus:outline-none opacity-50 hover:opacity-100 rounded text-sm" (click)="nextImageClick()">
                                    <img class="w-6 h-6 " src="../../../../assets/Icons/general-icons/next.png">
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                
          </div>
       </div>
      </section>
</div> 
