    <div class="container">

    
    <div class="inline-block">
        <img src="{{ iconUrl }}" class=" ml-5 w-8 h-8 float-left mr-2" >
        <div  class="inline-block h-8  sm:text-3xl text-2xl  pt-1 float-left ml-2 mr-2">
            {{selectedItem.name}} 
            <button class="text-white bg-blue-600 border-0 py-1 px-1 ml-2 focus:outline-none hover:bg-blue-900 rounded text-sm" (click)="onReturn()">
                <img src="../../../../assets/Icons/general-icons/back.png"  class="w-4 h-4">
            </button>
            <br>
            <div class="block text-sm text-teal-500 pt-1 sm:inline-block">- {{type}} -</div>
        </div>
        <br>
    </div>

    <section class="text-gray-500 body-font bg-gray-900">
        <div class="container pl-2 pr-6 py-12 mx-auto">
          <div class="flex flex-wrap -m-4">

                <!-- ********************************************************************** -->
                <!-- DETAILS TELESCOPE                                                      -->
                <!-- ********************************************************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">D</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Diameter</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.aperture }} mm</p>
                    </div>
                </div>

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">F</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Focal</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.aperture }} mm</p>
                    </div>
                </div>

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='telescope'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">R</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">F/D ratio</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.fdratio }}</p>
                    </div>
                </div>


                <!-- ********************************************************************** -->
                <!-- EYEPIECE DETAILS                                                       -->
                <!-- ********************************************************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='eyepiece'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Focal</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.focal }} mm</p>
                    </div>
                </div>

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='eyepiece'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">AFOV</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.afov }} °</p>
                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- BINOCULARS DETAILS                                                     -->
                <!-- ********************************************************************** -->
                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">D</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Diameter</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.aperture }} mm</p>
                    </div>
                </div>

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">M</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Power</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.magnification }} x</p>
                    </div>
                </div>

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2" *ngIf="type==='binoculars'">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">A</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">AFOV</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.afov }} °</p>
                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- COMMON DETAILS                                                         -->
                <!-- ********************************************************************** -->

                <div class="sm:w-1/3 w-1/2  sm:p-4 p-2">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">M</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Maker</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-regitlaxed leading-none sm:text-base text-xs">{{ selectedItem.manufacturer }}</p>
                    </div>
                </div>

                <div class="w-full  sm:p-4 p-2">
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <button class="ml-4 text-white  border-0 py-1 px-2 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <img src="../../../../assets/Icons/general-icons/edit_green.png"  class="w-3">
                            </button>
                        </div>
                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">D</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Description</h2>
                        <div class="border-t border-gray-800 w-full mb-3 h-1">&nbsp;</div>
                        <p class="sm:leading-relaxed leading-none sm:text-base text-xs">{{ selectedItem.description }}</p>
                    </div>
                </div>

                <!-- ********************************************************************** -->
                <!-- IMAGES                                                                 -->
                <!-- ********************************************************************** -->
                <div class="w-full  sm:p-4 p-2" >
                    <div class="border border-gray-800 sm:p-6 p-2 rounded-lg">
                        <div class="inline-block h-6 relative top-0 float-right">
                            <!-- loader spinner -->
                            <button class="inline ml-4 text-white  border-0 py-1 px-1 focus:outline-none rounded text-sm" *ngIf="isAddingImage">
                                <mat-spinner diameter="15" class="ml-3 mt-1" mode="determinate" [value]="uploadProgress" color="accent"></mat-spinner>            
                            </button>

                            <!-- ajouter une image -->
                            <button class="ml-4 text-white  border-0 py-1 px-1 focus:outline-none hover:bg-gray-800 rounded text-sm" >
                                <input ngModel #hiddenfileinput name="image" style="display: none;" type="file" (change)="chooseFile($event.target.files)" accept="image/x-png,image/gif,image/jpeg,image/ico">
                                <img src="../../../../assets/Icons/general-icons/add-picture.png" (click)="hiddenfileinput.click()"  class="w-3 h-3">
                            </button>

                            <!-- supprimer toutes les images-->
                            <button class="ml-4 text-white  border-0 py-1 px-1 focus:outline-none hover:bg-gray-800 rounded text-sm" (click)="deleteAllImages()" *ngIf="!noImage">
                                <img src="../../../../assets/Icons/general-icons/stop_salmon.png"  class="w-3 h-3">
                            </button>

                        </div>

                        <div class="sm:w-10 sm:h-10 w-5 h-5 sm:text-lg text-xs inline-flex items-center justify-center rounded-full bg-gray-800 text-teal-500 sm:mb-4 mb-2">I</div>
                        <h2 class="inline-block sm:text-base text-xs text-teal-500 font-medium title-font sm:mb-2 sm:ml-5 mb-1 ml-2">Images [ {{numberImages}} ]</h2>
                        <div class="border-t border-gray-800 w-full h-1 mb-3">&nbsp;</div>
                        <!-- slider image-->
                        <ng-image-slider [images]="imageObject" [showArrow]="false" [slideImage]="2" [animationSpeed]= "0.3" [imagePopup]="false" [imageSize]="{width: '100px', height: '80px'}" *ngIf="noImage" #nav></ng-image-slider>
                        <ng-image-slider [images]="imageObject" [showArrow]="false" [slideImage]="2" [animationSpeed]= "0.3" [imageSize]="{width: '100px', height: '80px'}" *ngIf="!noImage" (lightboxClose)='deleteImage()' (imageClick)='getIndex($event)' (lightboxArrowClick)='disableDeleteImage()' #nav></ng-image-slider>
        
                        <!-- bouton de navigation -->
                        <div class="flex content-center flex-wrap mt-3 h-6">
                            <div class="w-1/2  pr-8">
                                <button class="ml-4 float-right text-white border-0 py-1 px-1 focus:outline-none opacity-50 hover:opacity-100 rounded text-sm" (click)="prevImageClick()">
                                    <img class="w-6 h-6 " src="../../../../assets/Icons/general-icons/prev.png" >
                                </button>
                            </div>
                            <div class="w-1/2  pl-8">
                                <button class="ml-4 float-left text-white border-0 py-1 px-1 focus:outline-none opacity-50 hover:opacity-100 rounded text-sm" (click)="nextImageClick()">
                                    <img class="w-6 h-6 " src="../../../../assets/Icons/general-icons/next.png">
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                
          </div>
       </div>
      </section>
</div> 
