
<div class="">

    <!-- titre -->
    <img src="../../assets/Icons/general-icons/observing-list.png"  class="ml-5 w-8 h-8 mr-2 float-left ">
    <div class="text-2xl text-white h-8 pt-1 font-medium title-font">OBSERVATION LISTS
        <!-- bouton ajout-->
        <div class="ml-2 inline-block" *ngIf="currentObsListState === 'list'">
            <button class="text-white bg-blue-600 border-0 py-1 px-1 focus:outline-none hover:bg-blue-900 rounded text-sm" (click)="createItem()"><img src="../../../../assets/Icons/general-icons/plus.png"  class="w-4 h-4"></button>
        </div>
    </div>

    <!-- contenu -->
    <div class="inline-block w-screen text-sm text-white pl-2 p-8">

        <app-lists-list     *ngIf="currentObsListState==='list'"></app-lists-list>
        <app-lists-details  *ngIf="currentObsListState==='details'"></app-lists-details>
        <app-lists-new      *ngIf="currentObsListState==='create'"></app-lists-new> 
        <br><br><br>
       
    </div>

</div>