<div class="">

    <!-- titre -->
    <img src="../../assets/Icons/equipment/equipment-list.png"  class="ml-5 w-8 h-8 mr-2 float-left ">
    <div class="text-2xl text-white h-8 pt-1 font-medium title-font">EQUIPMENT</div>
    
    <!-- contenu -->
    <div class="inline-block w-screen text-sm text-white pl-2 p-8">

        <app-items [type]="'telescope'" *ngIf="displayStatus==='all' || displayStatus==='telescope'"></app-items>
        
        <app-items [type]="'eyepiece'" *ngIf="displayStatus==='all' || displayStatus==='eyepiece'"></app-items>
        
        <app-items [type]="'binoculars'" *ngIf="displayStatus==='all' || displayStatus==='binoculars'"></app-items>
       

    </div>

</div>