<app-header [userName]="userName"></app-header>

    <span *ngIf="authorized, else notAuthorized">
        <app-side-menu (navigationPanel)="onPageSelected($event)"></app-side-menu>
        <div class="inline-block text-sm text-white menu-custom-position mt-5">
            <span [ngSwitch]="selectedPage">
                <p *ngSwitchCase="'dashboard'"><app-dashboard></app-dashboard></p>
                <p *ngSwitchCase="'equipment'"><app-equipment></app-equipment></p>
                <p *ngSwitchCase="'sites'"><app-sites></app-sites></p>
            </span>
        </div>
    </span>

    <ng-template #notAuthorized>
        <div class="inline-block h-screen w-screen custom-image">
            <div class="inline-block h-full w-full">
                <app-login-page (authorizedUser)="onAuthorized($event)" ></app-login-page>
            </div>
        </div>
    </ng-template>

    
