.custom-image
{
    background: url("../assets/Images/login-page.svg") no-repeat center fixed;
    background-size: cover;

}


.menu-custom-position
{
    position: absolute;
    top:50px;
    left:40px;
}
