<form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div class="mr-5 sm:w-1/2">

        <!-- titre -->
        <img src="../../../assets/Icons/equipment/telescope.png"  class="ml-5 w-8 h-8 float-left mr-2">
        <div class="text-2xl h-8 pt-1 text-white mb-5">New telescope
            <!-- bouton retour-->
            <div class="inline-block">
                <button class="text-white bg-blue-600 border-0 py-1 px-1 ml-2 focus:outline-none hover:bg-blue-900 rounded text-sm" (click)="onReturn()"><img src="../../../../assets/Icons/general-icons/back.png"  class="w-4 h-4"></button>
            </div>
        </div>

        <!-- Formulaire d'ajout -->

            
        <!-- Name -->
        <div class="inline-block px-3 py-4  sm:w-1/3 w-1/2">
            <div class="sm:text-sm text-xs mb-2">Name</div>
            <input required name="name" ngModel class="w-full h-8 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="text">
        </div>

        <!-- Manufacturer -->
        <div class="inline-block px-3 py-4 sm:w-1/3 w-1/2 ">
            <div class="sm:text-sm text-xs mb-2">Manufacturer</div>
            <input required name="manufacturer" ngModel class="w-full h-8 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="text">
        </div>

        <!-- Diameter -->
        <div class="inline-block px-3 py-4 sm:w-1/3 w-1/2 ">
            <div class="sm:text-sm text-xs mb-2">Aperture (mm)</div>
            <input required [(ngModel)]="diameter" name="aperture" class="w-full h-8 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number">
        </div>

        
        <!-- Focal length -->
        <div class="inline-block px-3 py-4 sm:w-1/3 w-1/2">
            <div class="sm:text-sm text-xs mb-2">Focal (mm)</div>
            <input required [(ngModel)]="focal" name="focal" class="w-full h-8 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number">
        </div>

        <!-- F/D ratio -->
        <div class="inline-block px-3 py-4 sm:w-1/3 w-1/2">
            <div class="sm:text-sm text-xs mb-2">F/D</div>
            <input required [(ngModel)]="fdratio" (focus)="calculateRatio()" name="fdratio" class="w-full h-8 bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number" step="0.1">
        </div>

    
        <!-- description -->
        <div class="px-3 py-4 w-full">
            <div class="sm:text-sm text-xs mb-2">Description</div>
            <textarea required name="description" ngModel class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none h-24 focus:border-indigo-500 text-xs px-4 py-2 resize-none block"></textarea>
        </div>

        <br>


        <!-- button -->
        <div class="px-3 py-4 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-base" [ngClass]="{'':isFormValid ? 'bg-indigo-500' : 'bg-red-700'}">
                    Submit
            </button>
            <mat-spinner diameter="20" class="mt-2 flex mx-auto" color="warn" [ngStyle]="{'visibility':isAddingTelescope ? 'visible' : 'hidden'}"></mat-spinner>
        </div>
        
    </div>
</form>

