<form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div class="mr-5 sm:w-1/2">

        <!-- titre -->
        <img src="../../../assets/Icons/equipment/telescope.png"  class="ml-5 w-8 h-8 float-left mr-2">
        <div class="text-xl text-white mb-5">New telescope
            <!-- bouton retour-->
            <div class="inline-block">
                <button class="ml-4  text-white bg-blue-500 border-0 py-1 px-2 focus:outline-none hover:bg-blue-700 rounded text-sm" (click)="onReturn()"> < Back</button>
            </div>
        </div>

        <!-- Formulaire d'ajout -->

            
        <!-- Name -->
        <br>
        <div class="inline-block p-2 sm:w-1/3 w-1/2">
            <div class="text-sm mb-2">Name</div>
            <input required name="name" ngModel class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="text">
        </div>

        <!-- Manufacturer -->
        <div class="inline-block p-2 sm:w-1/3 w-1/2">
            <div class="text-sm mb-2">Manufacturer</div>
            <input required name="manufacturer" ngModel class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="text">
        </div>

        <br><br>

        <!-- Diameter -->
        <div class="inline-block p-2 sm:w-1/3 w-1/2">
            <div class="text-sm mb-2">Diam.</div>
            <input required [(ngModel)]="diameter" name="aperture" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number">
        </div>

        
        <!-- Focal length -->
        <div class="inline-block p-2 sm:w-1/3 w-1/2">
            <div class="text-sm mb-2">Focal</div>
            <input required [(ngModel)]="focal" name="focal" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number">
        </div>

        <!-- F/D ratio -->
        <div class="inline-block p-2 sm:w-1/3 w-1/2">
            <div class="text-sm mb-2">F/D</div>
            <input required [(ngModel)]="fdratio" (focus)="calculateRatio()" name="fdratio" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-xs px-4 py-2" type="number" step="0.1">
        </div>

        <br><br>

    
        <!-- description -->
        <div class="p-2 w-full">
            <div class="text-sm mb-2">Description</div>
            <textarea required name="description" ngModel class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none h-24 focus:border-indigo-500 text-xs px-4 py-2 resize-none block"></textarea>
        </div>

        <br><br>


        <!-- button -->
        <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-base">
                    Submit
            </button>
            <mat-spinner diameter="20" class="mt-2 flex mx-auto" color="warn" [ngStyle]="{'visibility':isAddingTelescope ? 'visible' : 'hidden'}"></mat-spinner>
        </div>
        
    </div>
</form>

