@tailwind base;
@tailwind components;
@tailwind utilities;

.row-light
{
    background-color: #21252c;
}

.row-dark
{
    background-color: #1B2026;
}

.table-border
{
    background-color: #232A32;
}

.test
{
    border: 1px solid red;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.vcenter-icon-button
{
    transform: translateY(2px);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] 
{
  -moz-appearance: textfield;
}