<div class="inline-block w-screen text-sm text-white pl-3 p-8">
    <div>
        <img src="../../../assets/Icons/equipment/binoculars.png"  class="ml-5 w-8 h-8 float-left mr-2">
        <div class="text-xl text-white mb-5">BINOCULARS</div>
    
        <section class="text-gray-500 body-font w-3/4 text-sm">
            <div class="p-4">
                        
                <div class="table-header p-6 rounded-lg">
        
                    <!-- header -->
                    <div class="header flex pl-2 mb-5 text-white">
                        <div class="header-element flex-1">Name</div>
                        <div class="header-element flex-1">Aperture</div>
                        <div class="header-element flex-1">Magnification</div>
                        <div class="header-element flex-1">Apparent FOV</div>
                        <div class="header-element flex-1">Constructor</div>
                    </div>
                
                    <!-- data row -->
                    <div class="row-dark  pl-2 pt-2 pb-2 rounded">
                        <div class="element flex">
                            <div class="flex-1 text-blue-500 font-semibold"><a href="#">10 x 50</a></div>
                            <div class="flex-1 text-white">50</div>
                            <div class="flex-1 text-white">10</div>
                            <div class="flex-1 text-white">6°</div>
                            <div class="flex-1 text-white">Nikon</div>                            
                        </div>
                    </div>
                    
                </div>
                    
              </div>
          </section>
    </div>
</div>